# supabase/config.toml
[project]
id = "" # Fill with your Supabase project ref after running `npx supabase link`

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323
